@-moz-document url-prefix("http://4pda.ru/forum/"), url-prefix("https://4pda.ru/forum/") {
.borderwrap-header td[width="80%"], .catend, #dw-top, #ipb_link_ad, .user-profile-list .margin-block {
    display: none !important;
}
body {
    background-color: #202020 !important;
}
.minipagelink, .minipagelinklast {
    border: none !important;
}
.borderwrap.read .row2, .borderwrap.read .post2, .borderwrap.read .post1, .borderwrap.read td.formbuttonrow, .lb-outerContainer, #logostrip, #header, #navbar, #replace_navbar, #list_wrapper, #footer, .menupopup .menu .item, .bg3, .activeusers, select, input.button, .plainborder, .tablefill, .tablepad, .borderwrap p, .popmenubutton-new, .popmenubutton, .hidemain, .post-edit-reason, #dw-wrapper, #dw-top, #dw-bottom, .pp-image-thumb-wrap, .pp-image-thumb-wrap-floatright, .pp-image-mini-wrap, .pp-image-mini-wrap-floatright, .resized-linked-image, .darkrow3, .postcolor, .attach-menubutton, .list_item:hover,  #welcome, .errorwrap, #redirectwrap, .attach-messagediv, .exdiv, #ucpmenu, #ucpcontent, .borderwrap, .borderwrapm, .formtable td, .pformleft, .pformleftw, .pformright, .qms_unread_row, .ed-wrap .ed-p-textarea, .bb-panel-button:hover, .check_list_div, .fieldwrap, .post-block > .block-body, .header, .sidebar, .footer-panel, .search-form, .events-count, .i-code:hover, .slider-content:after, .input-wrap, .captcha, .ed-wrap, td, #ed-0_wrap.ed_wrap, #contacts {
    background: none !important;
    border: none !important;
}
/* text */
body, .user_home a, #navstrip, .formsubtitle, .input-warn, .input-green, .input-checkbox, input, textarea, select, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .forumdesc, .forumdesc a:link, .forumdesc a:visited, .forumdesc a:active, table.ipbtable, tr.ipbtable, td.ipbtable, .usercp_menu, .usercp_menu_out, .popmenubutton-new, .pp-header, .pp-tiny-text, .popupmenu-item-last, .pp-taboff, .pp-tabshaded, .desc, h4, h3, .darkrow1, .lastaction, .pp-datebox em, .quotetop, .quotemain, .ipbtable td, .hidetop, .hidemain, .popupmenu-category, .post-edit-reason, .codemain, .sqlmain, .htmlmain, .codetop, .sqltop, .htmltop,  span[style$="color:#000000"], span[style="color:black"], .resized-linked-image, #loading-layer-inner, form, .ed-wrap .ed-panel-title, .darkrow3, #thread_content .out_message .msg, .navbar-title, .navbar-title > strong, .newslink, .newslink td, .smalltext, .attach-messagediv, .pa_text h2, .foruminfo .foruminfo_news, .foruminfo_news:hover, span[style="font-weight:bold;color:#222222;"], .post-block > .block-title, .post-block > .block-body, .footer-nav .f-note, #ipbwrapper > div, .u-note::after, .ddbp-spec-row, .content, .footer, .maintitle td {
    color: #ccc !important;
}
#submenu a, .navbar-title > strong, .navbar-title, #thread_content .out_message .msg, .smalltext {
    text-shadow: 1px 1px 1px black;
}
#events_wrapper {
    background-color: #303030 !important;
}
.codemain, .sqlmain, .htmlmain {
    font-family: Consolas, "Courier New", Verdana, Arial, Ubuntu, serif !important;
}
/* text colors replace */
span[style="color:blue"], span[style="color:Blue"], span[style="color:#0000ff"],  span[style="color:darkblue"], span[style="color:royalblue"], span[style="color:indigo"], span[style="color:#000080"], .newslink span, span[style="color:#000099"] {
    color: #508fcf !important;
}
.signature {
    color: #ccc !important;
}
span[style="color:red"], span[style="color:#FF0000"], span[style="color:darkred"], span[style="color:crimson"], .errorwrap p, .globalmesswarncontent  {
    color: #f50 !important;
}
span[style="color:purple"] {
    color: #c8f !important;
}
span[style="color:teal"] {
    color: #3cc !important;
}
span[style="color:green"] {
    color: #6c6 !important;
}
span[style="color:#290063"] {
    color: #58f !important;
}
span[style="color:#CF0CA6"] {
    color: #508fcf !important;
}
.searchlite {
    background-color: #e8eb89 !important;
}
.slider-content .meta-box a {
    background-color: #508fcf !important;
}
/* links */
a:link, a:visited, a:active {
    color: #508fcf !important;
}
a:hover {
    color: #9df !important
}

/* blocks */
.borderwrap, #userlinks, #userlinksguest, .copyright, #gfooter, .moddiv, #dw-body, .curdiv, #loading-layer-inner, .newslink, #ipbcontent, .ipbpagespan, .ipbnav, .ipbnavsmall, #ipbwrapper > .ipbtable, .message_item.in_message, .post-block.tbl.cur, .post-block.tbl.mod, .post-block.tbl.ex, body > div > div > div > div > div > form > ul > li, .footer-nav, .page {
    background: none repeat scroll 0 0 #202020 !important;
    border: none !important;
    box-shadow: 0 0 1px white;
    padding: 10px !important;
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    -khtml-border-radius: 1px !important;
}
#go_1, .content, .formtable td.formtitle, .formsubtitle, .row2, .pagelink, .pagelinklast, .pagecurrent, .minipagelink, .minipagelinklast, .pp-contentbox-back, .pp-contentbox-entry, .pp-contentbox-entry-noheight, .pp-contentbox-entry-noheight-mod, .pp-contentbox-entry-noheight-sel, .popupmenu-new, .pp-mini-content-entry, .pp-mini-content-entry-noheight, .pp-mini-entry-noheight-shaded, .post1, .post2, .bg1, .toplinks span, .pp-datebox, .popmenubutton-new, .globalmesswrap, .list_item, body[style="background:transparent;"], .globalmesswarnwrap, .list-group .list-group-item:active, .nav4pda, .form-bg, .form-toggle-visible .form-toggle-btn, .sidebar .list-group .list-group-item.active, #nav .active > *, .list-group > .list-group-item:hover, #nav .active:hover {
    background: #303030 !important;
}
.navbar, .slider-content {
    background: #303030!important;
}
.ac_results, .row1, .popupmenu-new, .usercp_menu, .form, .list_item:hover, .menupopup .menu, .upopupmenu-new, tr td.formbuttonrow, .pformstrip, .borderwrap p.formbuttonrow, .borderwrap p.formbuttonrow1, .bar, .barb, .barc, .popupmenu, .attach-popupmenu, .attach-menu-row-over, .qms_unread_row, .list_item.active, #events-wrapper, .list-group .list-group-item, .dropdown-menu, .slider-content .meta-box, .ddbp-wframe {
    background: #303030 !important;
}
.ac_over, .codemain, .sqlmain, .htmlmain, .searchinput, textarea, .ed-wrap .ed-bbcode-hover, #_fskit, #ipb-file-upload-box, input, #events-list > a:hover, #nav ul li > .slider-active, #nav li:not([class=""]) a, #nav li:not([class=""]):hover, #nav ul li > *:hover, .i-code .dropdown-menu > li > a:hover, .i-code .dropdown-menu > li > a:focus {
    background: #ccc !important;
}
.row2shaded, .post1shaded, .cur .block-title, #ipbwrapper > div[style*="background:#dff0d8"] {
    background: rgba(0, 154, 61, 0.3) !important;
}
.mod .block-title { /* blue moder cell. */
    background: rgba(66, 115, 173, 0.3) !important;
}
.row4shaded2, .post1shaded2, .post2shaded2, .ex .block-title, .error-content {
    background: rgba(255, 100, 100, 0.6) !important;
}
.post-block.tbl > .block-title {
    border-radius: 1px 0 0 1px;
}
.input-warn, .input-green, .input-checkbox, textarea.textarea, select, .popmenubutton-new, .quotemain, .u-note::after {
    background-color: #454545 !important;
}
table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitle, .maintitlecollapse, .globalmesswrap, #ucpmenu, #ucpcontent, .borderwrap, .borderwrapm, #h-wrapper {
    border: none !important;
}
#ipd-msg-inner {
    background-color: #ccc !important;
}
#events_wrapper {
    border: solid 1px #6c6 !important;
}
.foruminfo .grad0, .foruminfo .grad1 {
    background: linear-gradient(135deg, #000 0%, #444 100%) repeat scroll 0 0 transparent !important;
}
.ed-wrap .ed-vtoggle-normal, .ed-wrap .ed-vtoggle-hover, .ed-wrap .ed-vtoggle-down, #thread_content .thread_timeline .timeline, .textarea-bb-panel, .thread-list .date .text {
    background: #303030 !important;
}
#ed-0_textarea, #search-in-post-query-2, #search-in-post-query-1, .row2 > table.ipbtable {
    background: #202020 !important;
}
/* headers */
.pp-tabon, .hidetop, .ed-wrap .ed-panel, .posttopbar, .maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop, .button, input[type="button"], .input-ok-content, button, .post-block.spoil > .block-title, .post-block.quote > .block-title, .post-block.code > .block-title, .post-block.hidden > .block-title {
    background: #303030 !important;
}
.pp-taboff, .darkrow1, .quotetop, .footer {
    background: #303030 !important;
}
.maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop, .button, input[type="button"], .input-ok-content {
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    -khtml-border-radius: 1px !important;
}
.maintitle, table th, .borderwrap table th, .subtitle, .subtitlediv, .postlinksbar, .maintitlecollapse, .pp-title, .pp-header, .pp-tabclear, .btn, .btn:hover, .upopupmenu-category, h4, h3, .popupmenu-category, .codetop, .sqltop, .htmltop {
    padding-left: 10px !important;
}
#header .h-frame {
    background: linear-gradient(to top, transparent, black) !important;
}
/* other */
#userlinks p, #userlinksguest p {
    font-size: 12px !important;
}
button, .hidemain, .exdiv, .pagelink {
    border-color: #757575 !important;
}
.textarea-bb-panel:after {
    border-color: #757575 transparent !important;
}
.barc, .usercp_menu_out, .navbar {
    border-color: transparent !important;
}
.list-group .list-group-item .bage, .list-group .list-group-item .icon-close { /* QMS date of dialog */
    background: linear-gradient(to right, rgba(32, 32, 32, 0) 0%, #303030 20%, #303030 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
/* fix for qms */
#thread_content .msg {
    padding: 0 !important; 
}
.message_item {
    margin-top: 1em !important;
}
path[fill="#ccc"],
circle[fill="#ccc"]{
fill: #202020 !important;
}
            /********* IMAGES *********/
img[alt="Ответить"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/t_reply.png') !important;
    height: 27px !important;
    padding-right: 89px !important;
    width: 0 !important;
}
img[src$="pip.gif"] { /* .postdetails img[alt="*"], .row1 img[alt="*"] {*/
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/pip.png') !important;
    height: 10px !important;
    padding-right: 11px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="^"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/p_up.png') !important;
    height: 21px !important;
    padding-right: 24px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="Жалоба"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/p_report.png') !important;
    height: 21px !important;
    padding-right: 72px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="Вставить ник"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/insert_nick.png') !important;
    height: 21px !important;
    padding-right: 52px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="Цитировать"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/insert_quote.png') !important;
    height: 21px !important;
    padding-right: 92px !important;
    width: 0 !important;
}
.postdetails img[alt="-"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/r_minus.png') !important;
    height: 10px !important;
    padding-right: 10px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="-"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/bad.png') !important;
    height: 20px !important;
    padding-right: 20px !important;
    width: 0 !important;
}
.formbuttonrow img[alt="+"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/good.png') !important;
    height: 20px !important;
    padding-right: 20px !important;
    width: 0 !important;
}
.postdetails img[alt="+"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/r_add.png') !important;
    height: 10px !important;
    padding-right: 10px !important;
    width: 0 !important;
}
.postdetails img[style="padding-bottom:2px"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/to_post_off.png') !important;
    height: 7px !important;
    padding-right: 8px !important;
    width: 0 !important;    
}
#loading-layer-inner img, img[src$="attach_wait.gif"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/loading_anim.gif') !important;
    height: 24px !important;
    padding-right: 24px !important;
    width: 0 !important;
}
img[alt="Быстрый ответ"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/t_qr.png') !important;
    height: 27px !important;
    padding-right: 120px !important;
    width: 0 !important;
}
img[alt="Новая тема"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/t_new.png') !important;
    height: 27px !important;
    padding-right: 117px !important;
    width: 0 !important;
}
#ipb-tl-search_menu .button, .newslink .button {
    background-image: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/login-button.png') !important;
    background-repeat: no-repeat !important;
    height: 18px !important;
    padding-right: 30px !important;
    width: 0 !important;
}
img[alt="Редактировать"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/p_edit.gif') !important;
    height: 21px !important;
    padding-right: 89px !important;
    width: 0 !important;
}
img[alt="Удалить"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/p_delete.gif') !important;
    height: 21px !important;
    padding-right: 80px !important;
    width: 0 !important;
}
img[src$="t_closed.gif"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/t_closed.png') !important;
    height: 27px !important;
    padding-right: 98px !important;
    width: 0 !important;
}
#ucpmenu img {
    height: 7px !important;
    padding-right: 7px !important;
    width: 0 !important;
    background-image: url('data:image/gif;base64,R0lGODlhCAAIAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAgAAAIMjI+JoAGcHjxPzWYKADs=') !important;
}
img[alt="@"] {
    background: url('https://raw.githubusercontent.com/Haron-Prime/4PDA-Dark-Style-by-Haron-Prime/master/images/attachicon.gif') !important;
    height: 10px !important;
    padding-right: 8px !important;
    width: 0 !important;
}
}

@-moz-document url-prefix("http://4pda.ru/forum/dl/post/"), url-prefix("https://4pda.ru/forum/dl/post/") {
div {
        background: none !important;
    }
}
